<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">

    <div class="panel-heading">View Page</div>
    <div class="panel-body">

        <div class="form-group">
            <label>BNO</label>
            <input class="form-control" name="bno" th:value="${vo.bno}" readonly="readonly">
        </div>

        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="title" th:value="${vo.title}" readonly="readonly">
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="3" name="content" th:text="${vo.content}" readonly="readonly"></textarea>
        </div>

        <div class="form-group">
            <label>Writer</label>
            <input class="form-control" name="writer" th:value="${vo.writer}" readonly="readonly">
        </div>

        <div class="form-group">
            <label>RegDate</label>
            <input class="form-control" name="regDate" th:value="${#dates.format(vo.regdate, 'yyyy-MM-dd')}"
                   readonly="readonly">
        </div>

        <div class="pull-right">
            <a th:href="@{modify(
                page=${pageVO.page},
                size=${pageVO.size},
                type=${pageVO.type},
                keyword=${pageVO.keyword},
                bno=${vo.bno}
                )}" class="btn btn-default">Modify</a>

            <a th:href="@{list(
                page=${pageVO.page},
                size=${pageVO.size},
                type=${pageVO.type},
                keyword=${pageVO.keyword},
                bno=${vo.bno}
                )}" class="btn btn-primary">List</a>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>RNO</th>
                <th>Reply Text</th>
                <th>Replyer</th>
                <th>Replay Date</th>
            </tr>
            </thead>
            <tbody id="replyTable">
            </tbody>
        </table>

        <div class="pull-right">
            <button class="btn btn-info" id="addReplyBtn">Add Reply</button>
        </div>
    </div>

    <!-- Modal -->
    <!--<a class="btn btn-primary" data-toggle="modal" href="#myModal">Trigger modal</a>-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal Content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <label for="myModal_replyText">Reply Text</label>
                    <input type="text" name="replyText" id="myModal_replyText" class="form-control">
                    <label for="myModal_replyer">Replyer</label>
                    <input type="text" name="replyer" id="myModal_replyer" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalBtnDelete" class="btn btn-danger">Delete</button>
                    <button type="button" id="modalBtnSave" class="btn btn-primary">Save</button>
                    <button type="button" id="modalBtnClose" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- end Modal -->

</div>
<!-- end fragment -->

<th:block layout:fragment="script">

    <script th:inline="javascript" th:src="@{'/js/reply.js'}"></script>

    <script th:inline="javascript">
        // console.log(replyManager);

        $(document).ready(function () {

            var MODE_ADD = "ADD";
            var MODE_MODIFY = "MODIFY";

            var mode;

            var bno = [[${vo.bno}]];
            var replyTextObj = $("input[name='replyText']");
            var replyerObj = $("input[name='replyer']");

            var rno;

            function afterAll(list) {
                printList(list);
                $("#myModal").modal('hide');
                replyTextObj.val("");
                replyerObj.val("");
            }

            $("#modalBtnDelete").on('click', function () {
                var obj = {
                    bno : bno,
                    rno : rno
                };

                replyManager.remove(obj, function (list) {
                    alert("댓글이 삭제되었습니다.");
                    afterAll(list);
                })
            })

            $("#replyTable").on('click', 'tr', function () {
                var tds = $(this).find('td');
                console.log('tds:', tds);

                rno = tds[0].innerHTML;
                mode = MODE_MODIFY;

                replyTextObj.val(tds[1].innerHTML);
                replyerObj.val(tds[2].innerHTML);

                $("#modalBtnDelete").show();
                $("#myModal").modal('show');
                $(".modal-title").text("Modify/Delete Reply");
            });

            $("#addReplyBtn").on('click', function () {
                $("#myModal").modal("show");
                $(".modal-title").text("Add Reply");

                $("#modalBtnDelete").hide();

                mode = MODE_ADD;
            });
            
            $("#modalBtnSave").click(function () {
                var replyText = replyTextObj.val();
                var replyer = replyerObj.val();

                if (mode == MODE_ADD) {
                    var obj = {
                        replyText : replyText,
                        replyer : replyer,
                        bno : bno
                    };
                    // console.log("obj", obj);

                    replyManager.add(obj, function (list) {
                        alert("새로운 댓글이 추가되었습니다.");
                        afterAll(list);
                    });
                } else if (mode == MODE_MODIFY) {
                    var obj = {
                        replyText : replyText,
                        bno : bno,
                        rno : rno
                    };
                    // console.log("obj", obj);

                    replyManager.update(obj, function (list) {
                        alert("댓글이 수정되었습니다.");
                        afterAll(list);
                    });
                }
            });

            // load replies
            (function () {
                replyManager.getAll([[${vo.bno}]], printList);
            })();

            function printList(list) {
                var str = "";
                var replyObj;
                for (var i = 0; i < list.length; i++) {
                    replyObj = list[i];

                    str += "<tr>" +
                        "<td>" + replyObj.rno + "</td>" +
                        "<td>" + replyObj.replyText + "</td>" +
                        "<td>" + replyObj.replyer + "</td>" +
                        "<td>" + formatDate(replyObj.regDate) + "</td>" +
                        "</tr>";
                }
                $("#replyTable").html(str);
            }

            function formatDate(timeValue) {
                var date = new Date(timeValue);
                return makeFromatDate(date, '-');
            }

            function makeFromatDate(date, separator) {
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                month = month >= 10 ? month : '0' + month;
                var day = date.getDate();

                return year + separator + month + separator + day;
            }
        });

    </script>
</th:block>