<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Custom Login Page</h2>

    <div th:if="${param.error != null}">
        <h2>Invalid Username or password</h2>
        <h2 th:value="${param.error}"></h2>
    </div>

    <div th:if="${param.logout != null}">
        <h2>You have bean logged out.</h2>
    </div>

    <form method="post">
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="user88">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" value="pw88">
        </p>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit    " class="btn">Login</button>
    </form>
</body>
</html>